<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <!DOCTYPE html>
<html>
<head>
	<title>Jackets</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link rel="stylesheet"  type = "text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="shoppingcart.css">

</head>
<body>

 

 
<hr class="new1"  style="width: 90%">
 <p class="p1"> <strong>Our Jackets</strong></p>
<hr class="new1"  style="width: 90%">




<div class="container" style="background-color:grey;">
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket1.jpg" >
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#"> New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 2000/-</span>
        <strong style="margin-left: 10px;">1800/-</strong>
      </div>
    </div>
  </div>


 
 <div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket2.jpg">        
      <div class="caption">
      <h3>Alpine Star</h3>
        <p><a href="#"> New Alpine Star full riding jacket </a></p>
       <span style="text-decoration: line-through;"> 2200/-</span>
        <strong style="margin-left: 10px;">2000/-</strong>
      </div>
      </div>
    </div>
  

 <div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket3.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#"> New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 2400/-</span>
        <strong style="margin-left: 10px;">2200/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket4.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
       <span style="text-decoration: line-through;"> 2600/-</span>
        <strong style="margin-left: 10px;">2400/-</strong>
      </div>
    </div>
  </div>


<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket5.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 2800/-</span>
        <strong style="margin-left: 10px;">2600/-</strong>
      </div>
    </div>
  </div>


<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket6.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 3200/-</span>
        <strong style="margin-left: 10px;">3000/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket7.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 3000/-</span>
        <strong style="margin-left: 10px;">2800/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket8.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 3400/-</span>
        <strong style="margin-left: 10px;">3200/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket9.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 3600/-</span>
        <strong style="margin-left: 10px;">3400/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket10.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 3800/-</span>
        <strong style="margin-left: 10px;">3600/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket11.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 4000/-</span>
        <strong style="margin-left: 10px;">3800/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket12.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 4200/-</span>
        <strong style="margin-left: 10px;">4000/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket13.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 4400/-</span>
        <strong style="margin-left: 10px;">4200/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-6 col-6">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket14.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star</h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 4600/-</span>
        <strong style="margin-left: 10px;">4400/-</strong>
      </div>
    </div>
  </div>

<div class="col-lg-4 col-sm-6 col-xs-7 col-8">
    <div class="thumbnail" style="padding-bottom: 35px;">
      <img src="jacket15.jpg" alt="...">
      <div class="caption">
        <h3>Alpine Star </h3>
        <p><a href="#">New Alpine Star full riding jacket</a></p>
        <span style="text-decoration: line-through;"> 4800/-</span>
        <strong style="margin-left: 10px;">4600/-</strong>
      </div>
    </div>
  </div>


</div>
</div> 

<hr>



<footer style="padding-top: 5px;" id="footerNav" class="py-o bg-white  fixed bottom">
	<div class="container">
		<p class="m-0 text-center text-white">
			<a class="btn gly" id="glyph1" href="#">
				<span class="glyphicon glyphicon-home"></span>
			</a>

	<a class="btn gly" id="glyph2" href="#">
				<span class="glyphicon glyphicon-user" ></span>
			</a>

	<a class="btn gly" id="glyph3 " href="#">
				<span class="glyphicon glyphicon-shopping-cart"></span>
			</a>



		</p>
	</div>
</footer>














<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
        
    </h1>
</body>
</html>