<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> forget passord</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="forgetpassword.css">
</head>
<body>
    
<center>
<div class="login-box"> 
  <h2>forget</h2>
  <form action="/forget" method="POST">
    <div class="user-box">
      <input type="email" name="email" required="">
      <label>email</label>
    </div>
      <input type="submit" value="send reset link">
    </a>
  </form>
</div>
</center>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>